@import url('https://fonts.googleapis.com/css?family=Roboto');

/* --------- ignore -----------*/

:root {
  --primary-color: mediumslateblue;
  --font-size-base-siteinfo: 76px; 
  --font-size-base-accordian: 16px;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;  
}

body {
  font-family: monospace;
  background-color: #0f0f0f;
  box-sizing: border-box;
  overflow: -moz-hidden-unscrollable;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

::-webkit-scrollbar {
  display: none;
}

/* --------- navbar-menu-list -----------*/

#accordian {
  background: #171717;
  width: 100%; 
  padding-top: 6px;
  padding-bottom: 6px;
  height: auto;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  float: none; 
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.main-navbar {
  display: flex;
  justify-content: center;
}

#accordian ul li a {
  line-height: normal; 
  padding: 10px 20px; 
}

#accordian li {
  list-style-type: none;
}

#accordian ul li a {
  color: #ffffff80;
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;  
  text-align: center;
  display: block;
  padding: 0px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#accordian>ul>li.active>a {
  color: #ffffff;
  background-color: transparent;
  transition: all 0.7s;
}

#accordian a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10%;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#accordian .active>a:not(:only-child):after {
  transform: rotate(90deg);
}

.selector-active {
  width: 100%;
  display: inline-block;
  position: absolute;
  height: 37px;
  top: 0px;
  left: 0px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265);
  background-color: #0f0f0f;
  border-radius: 50px;
}

/* --------- main-content -----------*/

.main-content {
  height: 100vh;
  margin-top: 0;
  color: #fff;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* -------------------- site-info ----------------------*/

.info-wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.about-info {
  width: 27ch;
  animation: typing 1.5s steps(27), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 16px; 
  text-align: center;
  cursor: default;
  margin-top: 40px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* -------------------- topics ---------------------- FIX VIEWPORT HEIGHT PROBLEM ON TOPICS MAIN HUB UI IS NOT DONE*/

#topic-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 54.9rem;
}

main.table {
  width: 82vw;
  height: 12.04rem;
  background-color: #0f0f0f;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  margin-top: 53px;
}

.table__body {  
  width: 93%;
  height:64.935%;
  background-color: #171717;
  margin: 0.68rem auto;
  border-radius: .6rem;
  overflow: auto;
  overflow: overlay;
}

.table__header {
  width: 100%;
  height: 2.2rem;
  background-color: #171717;
  padding: .5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.table2 {
  width: 82vw;
  height: 10.6rem;
  background-color: #0f0f0f;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  margin-top: 20px;
}

#table__body2{
  width: 93%;
  height:60.12%;
  background-color: #171717;
  font-size: 13px;
  margin: 0.68rem auto;
  border-radius: .6rem;
  overflow: auto;
  overflow: overlay;
}

#table__header2{
  width: 100%;
  height: 2.2rem;
  background-color: #171717;
  padding: .5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.table3 {
  width: 82vw;
  height: 9.18rem;
  background-color: #0f0f0f;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  margin-top: 20px;
}

#table__body3 {
  width: 93%;
  height:54%;
  background-color: #171717;
  margin: 0.68rem auto;
  border-radius: .6rem;
  overflow: auto;
  overflow: overlay;
}

#table__header3{
  width: 100%;
  height: 2.2rem;
  background-color: #171717;
  padding: .5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.table4 {
  width: 82vw;
  height: 19.6rem;
  background-color: #0f0f0f;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  margin-top: 20px;
}

#table__header4{
  width: 100%;
  height: 2.2rem;
  background-color: #171717;
  padding: .5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table__body4{
  width: 98%;
  height:66%;
  background-color: #171717;
  font-size: 18px;
  margin: 1.05rem auto;
  border-radius: .6rem;
  overflow: auto;
  overflow: overlay;
}


.table__header h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
  cursor: default;
}

.table__header2 h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
  cursor: default;
}

 /* text-topic */

td {
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th{
  text-align: center;
  padding-top: 9px;
  padding-bottom: 2px;
}

.table__body::-webkit-scrollbar {
  width: 3px;
  height: 0.2rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: #959595;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.clickable-table {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: filter 0.3s ease-in-out;
}

.clickable-table {
  position: relative;
}

.clickable-table::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: monospace;
}

.clickable-table:hover::before {
  opacity: 0.8;
}

.clickable-table::after {
  content: "Proceed";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #171717;
  color: #fff;
  padding: 6px 19px;
  border-radius: 0.8rem;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  font-style: monospace;
  transition: opacity 0.3s ease-in-out;
}

.clickable-table:hover::after {
  opacity: 1;
}

thead > tr > th {
  cursor: default;
}

.iframe-container {
  position: relative;
  width: 98%;
  padding-bottom: 40.9%; 
  overflow: hidden;
  margin: 0 auto; 
  border-radius: 0.8rem;
}

.iframe-container iframe {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 98%;
  border-radius: 0.8rem;
}

.module-container {
  margin: 1.54cm;
  border: 4px dashed #0f0f0f;
  border-radius: 0.8rem;
}

.document-container {
  margin-left: 3.384cm;
  margin-right: 3.384cm;
  margin-top: 1.84cm;
  margin-bottom: 1.84cm;
}

.module-container p + h3 {
  margin-top: 20pt;
}

.module-container h4 {
  margin-bottom: 18pt;
  margin-top: 20pt;
}

.module-container h5 {
  font-size: 18px;
  font-style: bold;
  margin-top: 15pt;
  margin-bottom: 2pt;
}

.module-container h3 {
  font-size: 28px;
  font-style: bold;
  text-align: center;
}

.module-container p {
  font-size: 18px;
  margin-left: 20pt;
  margin-bottom: 10pt;
}

.module-container h4 {
  font-size: 21px;
  font-style: bold;
}

.pcode {
  color: #60adfa;
  background-color: #0f0f0f;
  border-radius: 0.5rem;
  padding: 4px;
}

/* -------------------- tasks ----------------------*/

.tasks-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 52rem;
}

/* -------------------- java-compiler ----------------------*/

.runcode-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  overflow: hidden; 
}

.site-java {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%; 
  border-radius: 0.8rem;
  margin-top: -53px;
}

#javaFrame {
  width: 100%;
  height: 98%;
  border-radius: 0.8rem;
}

/* -------------------- survey ----------------------*/

.generator-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  overflow: hidden; 
}

main.tableg, main.tableg2 {
  width: 82vw;
  height: 9.1rem;
  background-color: #0f0f0f;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
}

#table__bodyg {
  width: 93%;
  height:54%;
  background-color: #171717;
  margin: 0.68rem auto;
  border-radius: .6rem;
  overflow: auto;
  overflow: overlay;
}

.table__headerg {
  width: 100%;
  height: 2.2rem;
  background-color: #171717;
  padding: .5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table__headerg h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
  cursor: default;
}


/* -------------------- credits ----------------------*/

.credits-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main.tablec {
  width: 82vw;
  height: 8.18rem;
  background-color: #0f0f0f;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
}

#table__bodyc {
  width: 93%;
  height:48.4%;
  background-color: #171717;
  margin: 0.68rem auto;
  border-radius: .6rem;
  overflow: auto;
  overflow: overlay;
}
